Django==6.0.6
djangorestframework==3.17.1
django-cors-headers==4.9.0
firebase-admin==7.4.0
channels==4.3.2
channels-redis==4.3.0
daphne==4.2.2
psycopg2-binary==2.9.10
websockets==16.0
whitenoise==6.12.0
redis==8.0.0
reverse_geocoder==1.5.1
